* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #89c2d9 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  background-color: #005e54;
  color: aliceblue;
  padding: 2rem !important;
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}
.lang-card {
  cursor: pointer;
  background-color: hsl(174, 100%, 38%);
  transition: all 0.5s ease-in-out;
}
.lang-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
.lang-logo {
  transition: transform 0.2s;
}
.lang-card:hover .lang-logo {
  transform: scale(1.2);
}
